#mainlow{
    margin-top: 20px;
width: 716px;
height: 282px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #2e5bc5 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;
margin-bottom: 15px;
}