#sidelow{
   margin-top: 20px;
width: 347px;
height: 246px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #cc1d80 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;
}